<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="/" property="og:url" />

    <meta content="Genital Autonomy Collective" name="title" />
    <meta content="Genital Autonomy Collective" name="og:title" />
    <meta property="og:image" content="/img/gac-square.png"/>
    <meta content="blog" property="og:type" />

    <meta content="The Genital Autonomy Collective is a peer network of support groups and advocates for intersectional genital autonomy.  Our main focus is providing support and community for the intersection of violated genital autonomy and marginalized peoples, and their (affected) allies." property="og:description" />

    <!--[if IE]><script src="{{ siteurl }}/js/html5.js"></script><![endif]-->
    <title>{{ title }} &#8211; {{ sitename }}</title>

    <link href="/img/gac.ico" rel="shortcut icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/css/syntax.css" rel="stylesheet" type="text/css" />

    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
  </head>

  <body class="lh-copy dark-gray pa0 f6 sans-serif bg-super-white">
    <header class="tc mt4 banner flag trans">
      <a href="/"><img src="/img/gac-circle.png" alt="Genital Autonomy Collective" class="seal"></a>
    </header>

    <div class="mw7 bg-white mt4 mb3 center br2-ns bt bb ba-ns b--light-gray">

      <nav class="bb b--light-gray pv4 tc" aria-label="Main">
        <a class="link blue hover-mid-gray mh2 pv1" href="/">About GAC</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/faq.html">FAQ</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/groups.html">Support Groups</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/conduct.html">Code of Conduct</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/get-involved.html">Get Involved</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/resources.html">Resources</a>
        <a class="link blue hover-mid-gray mh2 pv1" href="/partners.html">Partners</a>
        <!-- <a class="link blue hover-mid-gray mh2 pv1" href="/chapters.html">Local Chapters</a> -->
      </nav>

      <main class="tl f6 relative pa4 pa5-ns overflow-hidden">
        <article>
          <h2 class="title">{{ title }}</h2>
          <div>
            {{{ contents }}}
          </div>
        </article>
      </main>
    </div>

    <div class="tc mt4 banner flag intersex">
      <a href="/"><img class="seal" src="/img/gac-circle.png" alt="Genital Autonomy Collective"></a>
    </div>

    <footer class="mw7 center tc pt3 pb4 silver">
      <p>Theme based on <a href="https://github.com/muan/scribble" class="link silver hover-blue pv1">Scribble</a>.</p>
      <p>Built with <a href="{{ generatorurl}}">{{ generatorname}}</a></p>
      <p xmlns:cc="http://creativecommons.org/ns#" >This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" style="display:inline-block;">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt=""><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt=""></a></p>

    </footer>

  </body>
</html>
